# Ignore dependencies
node_modules
npm-debug.log
yarn-error.log

# Ignore build artifacts
dist
coverage
build

# Ignore environment secrets
.env
.env.*

# Ignore Docker metadata
Dockerfile
.dockerignore

# Ignore Git and editor files
.git
.gitignore
.vscode

# Ignore logs and temp files
*.log
*.pid
*.seed
*.bak
tmp